﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <h1>Task 24</h1>
    <div>

        @ViewBag.Message
        <br /><br />
        <a asp-action="SupervisorInfo">Go to info about supervisor</a>
    </div>

</body>
</html>
