﻿@model List<Supervisor>


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorInfo</title>
</head>
<body>
    <h1>List of supervisors</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr>
            @foreach (var supervisor in Model) {
            <tr>
                <td>@supervisor.Id</td>
                <td>@supervisor.Name</td>
            </tr>
        }
        </table>
    </body>
</html>
